body {
  background-image: url("coolBG.jpg");
  background-color: #cccccc;
}

#mainJumbo {
  --animate-duration: 2s;
  --animate-delay: 0.5s;
}

#nameTitle {
  color: whitesmoke;
  font-weight: bold;
  background-color: #ccccccbb;
  border-radius: 100px;
  text-align: center;
}

#section01 {
  margin-top: 150px;
}

#downArrow {
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  display: inline-block;
  --animate-duration: 2s;
  border-radius: 25px;
}

#resumeText {
  background-color: #ccccccbb;
  border-radius: 10px;
}

#mainArrows {
  border-radius: 10px;
  font-size: 35px;
  color: yellow;
}

#section02 {
  margin-top: 275px;
  margin-bottom: 275px;
}

#section03 {
  margin-top: 275px;
  margin-bottom: 275px;
  background-color: #cccccc00;
}

.card-img-top {
  max-width: 50%;
}

.card {
  background-color: #ccccccbb;
}

.projectTitles {
  color: white;
  background-color: rgb(71, 69, 69);
}

#resPic {
  max-width: 100vh;
}

.card-text {
  color: white;
}

#backTotop {
  background-color: #cccccc00;
}

code {
  color: white
}