.container {
  background-color: rgba(95, 93, 93, 0.5);

  width: xs;
}

body {

  background: linear-gradient(-45deg, coral, lightblue, grey);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
}


.navbar {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* #contactColumn {
  border: solid black 5px;
} */

.btn:hover {
  color: yellow;
  background-color: black;
  transform: scale(1.15);
}

#avatar {
  border-radius: 50%;
}