body {
  background-image: url("./images/coolBG.jpg");
  background-color: #cccccc;
}

#nameTitle {
  color: whitesmoke;
  font-weight: bold;
  background-color: #ccccccbb;
  border-radius: 100px;
  text-align: center;
}

#section01 {
  margin-top: 150px;
}

#downArrow {
  font-size: xxx-large;
  color: yellow;
  text-align: center;
}

#section02 {
  margin-top: 275px;
  margin-bottom: 275px;
}

.card-img-top {
  max-width: 50%;
}

.card {
  background-color: #ccccccbb;
}

.projectTitles {
  color: white;
  background-color: rgb(71, 69, 69);
}

.card-text {
  color: white;
}
code {
  color: white
}
